// Rounded
@forward "rounded/rounded-2";
@forward "rounded/rounded-4";
@forward "rounded/rounded-6";
@forward "rounded/rounded-8";
@forward "rounded/rounded-12";
@forward "rounded/rounded-16";
@forward "rounded/rounded-20";
@forward "rounded/rounded-24";
@forward "rounded/rounded-32";
@forward "rounded/rounded-36";
@forward "rounded/rounded-40";
@forward "rounded/rounded-full";
@forward "rounded/rounded-none";

// Sizing/Height
@forward "sizing/height/h-24";
@forward "sizing/height/h-32";
@forward "sizing/height/h-36";
@forward "sizing/height/h-40";
@forward "sizing/height/h-auto";
@forward "sizing/height/h-full";

// Sizing/Max-Height
@forward "sizing/height/max/max-h-24";
@forward "sizing/height/max/max-h-32";
@forward "sizing/height/max/max-h-36";
@forward "sizing/height/max/max-h-40";
@forward "sizing/height/max/max-h-full";
@forward "sizing/height/max/max-h-none";

// Sizing/Min-Height
@forward "sizing/height/min/min-h-24";
@forward "sizing/height/min/min-h-32";
@forward "sizing/height/min/min-h-36";
@forward "sizing/height/min/min-h-40";
@forward "sizing/height/min/min-h-auto";
@forward "sizing/height/min/min-h-full";

// Sizing/Width
@forward "sizing/width/w-24";
@forward "sizing/width/w-32";
@forward "sizing/width/w-36";
@forward "sizing/width/w-40";
@forward "sizing/width/w-auto";
@forward "sizing/width/w-full";

// Sizing/Max-Width
@forward "sizing/width/max/max-w-24";
@forward "sizing/width/max/max-w-32";
@forward "sizing/width/max/max-w-36";
@forward "sizing/width/max/max-w-40";
@forward "sizing/width/max/max-w-full";
@forward "sizing/width/max/max-w-none";

// Sizing/Min-Width
@forward "sizing/width/min/min-w-24";
@forward "sizing/width/min/min-w-32";
@forward "sizing/width/min/min-w-36";
@forward "sizing/width/min/min-w-40";
@forward "sizing/width/min/min-w-auto";
@forward "sizing/width/min/min-w-full";

// Text
@forward "text/text-8";
@forward "text/text-12";
@forward "text/text-14";
@forward "text/text-16";
@forward "text/text-20";
@forward "text/text-24";
@forward "text/text-32";
@forward "text/text-36";
@forward "text/text-40";
@forward "text/text-48";
@forward "text/text-64";
@forward "text/text-72";
@forward "text/text-80";
@forward "text/text-96";
@forward "text/text-128";
